
<li id="user_<%=user.id%>">
  <img src="/images/<%= user.dialect.dialect%>.jpg" alt="<%= user.dialect.dialect %>"
       class="dialect-small" data-id=<%=user.dialect.id %> />
  <span class="user">
  <%= user.username %>
  </span>

</li>